<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="OpenFirstFoundLink">
        <parameter name="searchString" value="wix"/>
        <parameter name="foundPageTitle" value="Wix"/>
        <classes>
            <class name="GoogleSearchTest" />
        </classes>
    </test>

</suite>